body {
  background-image: url('../img/planoDeFundo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.titulo {
  color: #5F1CA1;
  position: absolute;
  width: 904px;
  height: 168px;
  left: 228px;
  top: 94px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 59px;
  line-height: 64px;
  text-align: center;
}

.carrossel-container {
  display: flex;
  position: relative;
  justify-content: center;
  top: 241px;
}

.carrossel-item {
  scroll-snap-align: start;
}

.carrossel-item img {
  width: 100%;
  height: auto;
}

.capelo {
  position: absolute;
  top: 25%;
  left: 17%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.cerebro {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.pasta {
  position: absolute;
  top: 25%;
  left: 84%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.carrossel-container {
  position: relative;
}

.bolinhas-carrossel {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.bolinha {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.bolinha.ativa {
  background-color: #333;
}
